@import '../abstracts/variables';

html {
    font-size: 62.5%; 
    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul{
    list-style: none; 
}
a{
    text-decoration: none;
    outline: none;
    color: inherit;
}

body { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $color-dark;
    
}

 