.header {
    background: #fff;


    &__left-icons {
        margin-right: 1rem;

        & path {
            fill: $color-primary;
        }
    }

    &__right-icons {
        margin-left: 2rem;

        & path {
            fill: $color-dark;
        }
    }

    &__contacts {
        &-wrapper {
            align-self: stretch;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }


        &-left {
            display: flex;

            &-mail {
                margin-right: 2rem;
                display: flex;
                align-items: center;
            }

            &-phone {
                display: flex;
                align-items: center;
            }

        }

        height: 6rem;
        border-bottom: 1px solid #ccc;

        &-icon {
            width: 1.75rem;
            height: 1.75rem;
        }
    }

    &__navigation {
        height: 12rem;
        border-bottom: 1px solid #ccc;

        @media screen and (max-width: 900px) {
            height: auto;
        }

        &-wrapper {            
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            flex: 0 1 auto;

            @media only screen and (max-width: 900px) {
                
                flex-direction: column;

                &>* {
                    margin: 2rem auto;

                    &:nth-child(2) {
                        order: 3;
                    }

                }


            }


        }
    }

}