@import '../../../abstracts/variables';

.categories {
    
    &__heading {
        color: $color-primary;
        margin-bottom: 3rem;
    }
    &__button{
        cursor: pointer;
        background: #fff;
        border: none;
        outline: none; 
    }

  


}