.filters {
    &__heading {
        color: $color-primary;
        margin-bottom: 3rem;
    }

    &__listitem {
        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }

        label {
            cursor: pointer;
        }
    }
    &__checkbox {
        margin-right: 1rem;
    }
}