.catalog {
    &__filters {
        display: flex;
        flex: 0 1 27rem;
        flex-direction: column;

        &-wrapper {
            width: 27rem;
            box-sizing: border-box;

            @media only screen and (max-width: 900px) {
                position: absolute;
                display: none;
                z-index: 15;
                border: 1px solid #ccc;
                box-shadow: 1px 0 4px rgba(0, 0, 0, .1);
            }
        }

        &-block {
            width: 100%;
            padding: 4rem;
            background: #fff;
            margin-bottom: 3rem;

            @media only screen and (max-width: 900px) {
                margin: 0;
                border-bottom: 1px solid #ccc;
            }
        }

        &__checkbox {
            margin-right: 1rem;
        }
    }
}

