@import '../../abstracts/variables';

.productPage {
    &__background {
        background: #fff;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 7rem 0;

        @media only screen and (max-width: 768px) {
            flex-direction: column;

        }

        @media only screen and (max-width: 500px) {
            padding: 2rem 0;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        flex: 0 1 65%;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
        }

        &-heading {
            font-size: 3rem;
            line-height: 4rem;
            color: $color-primary;
            font-weight: 900;
            text-transform: uppercase;
            @media only screen and (max-width: 768px) {
                font-size: 3rem;
            }
        }

        &-subheading {
            margin-top: 3rem;
            margin-bottom: 4rem;
            font-size: 1.8rem;
            font-weight: 400;

            @media only screen and (max-width: 768px) {
                margin: 2rem 0;
            }
        }

        &-description {
            font-size: 1.6rem;
            font-weight: 400;
        }

        &-options {
            &--wrapper {
                margin: 4rem 0;
                padding: 4rem 0;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;

                @media only screen and (max-width: 500px) {
                    flex-direction: column;
                    margin: 1rem;
                    padding: 1rem;

                    &>* {
                        margin: 1rem auto;
                    }
                }

            }

            &--choosewrapper{
                display: flex;
                align-items: center;
                &:first-child{
                    margin-bottom: 2rem;
                }
            }

            &--buttons{
                width: 50%;
                display: flex;
                justify-content: space-between;
            }

            &--left {
                display: flex;
                flex-direction: column;
                flex: 0 1 50%;
                
                border-right: 1px solid #ccc;
                justify-content: flex-start;

                @media only screen and (max-width: 500px) {
                    border: 0;
                }

            }

            &--right {
                display: flex;
                flex: 0 1 50%;
                align-items: center;
                justify-content: flex-end;
            }

            &--label {
                margin-right: 2rem;
            }

            &--calc {

                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 1rem;
                border: 1px solid #ccc;
                transition: all .2s; 
                &:hover{
                    background: #ccc;
                }
            }

            &--number {
                margin: 0 1.6rem;
                color: $color-primary;
                font-size: 1.8rem;
                font-weight: 900;
            }

            &--color{
                width: 2rem;
                height: 2rem;
                border-radius: 50%; 
                cursor: pointer; 
                box-sizing: border-box;
            }


           
            &--button {
                background: none;
                border: none;
                outline: none;
                padding: 1rem; 
                border: 1px solid #ccc;
                cursor: pointer;
                
            }
        }

        &-order {
            &--wrapper {
                display: flex;
                align-items: center;

                @media only screen and (max-width: 500px) {
                    flex-direction: column;
                    height: 20rem;
                    justify-content: space-between;

                }
            }

            &--price {
                font-size: 2rem;
                font-weight: 900;
                margin-right: auto;

            }

            &--icon {
                height: 2rem;
                width: 2rem;
                margin-right: 3rem;
                cursor: pointer;
                transition: all .5s;

                &:hover {
                    & path {
                        fill: $color-primary;
                    }
                }
            }

            &--button {
                width: 13.5rem;
                height: 5rem;
                border: none;
                outline: none;
                border-radius: 100rem;
                background: $color-primary;
                cursor: pointer;
                color: #fff;
                font-size: 1.8rem;


            }
        }
    }

    &-iconbox{
         width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;

    @media only screen and (max-width: 500px) {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    }

}

