.card-side {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .8s ease;
    backface-visibility: hidden;

    @media only screen and (max-width: 900px) {
        position: relative;
    }
}

.card {

    &:hover &-front {
        transform: rotateY(-180deg);
    }

    &:hover &-back {
        transform: rotateY(0);
    }

    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    width: 100%;
    height: 36rem;
    text-align: center;
    box-sizing: border-box;

    @media only screen and (max-width: 450px) {
        height: 30rem;
    }

}