.banner {
    background-image: url('../img/Bg.png');
    background-size: cover;
    width: 100%;
    height: 65rem;
    align-items: center;
    @media (max-width: 900px){
        height: auto; 
        padding: 3rem 0;
    }
    &-scroll {
        display: flex;
        flex-direction: column;
        margin-right: 9rem;
        @media screen and(max-width: 450px){
            display: none;
            }
        &-top, &-bottom {
            height: 1.6rem;
            background: #fff;
            width: 1rem;
        }

        &-middle {
            height: 3.6rem;
            background: $color-primary;
            margin: 1rem 0;
            width: 1rem;
        }

        
    }

    &-infobox {
        &-wrapper {
            display: flex;
            height: 100%;

            align-items: center;
        }

    }
    &-infoheader{
        text-transform: uppercase;
        color: $color-primary; 
        font-weight: 700;
        font-size: 5.2rem;
        @media screen and(max-width: 450px){
        font-size: 2.5rem;
        }
    }

    &-textbox {
        font-size: 1.7rem;
        line-height: 3rem;
        font-weight: 400;
        margin-bottom: 6.5rem;
    }

 
    &-pricebox {
        font-size: 1.8rem;
        font-size: 1.4rem;
        font-weight: 500;
        display: flex;
    }

    &-order {
        margin-left: 3rem;
        color: $color-primary;
        display: flex;

        align-items: center;


    }

    &-icon {
        width: 1.75rem;
        height: 1.75em;
        margin-top: -.3rem;
        margin-right: 1rem;

        & path {
            fill: currentColor;
        }
    }

}