.catalog {
    margin-top: 12rem;
    @media only screen and (max-width: 900px) {
        margin-top: 0;
    }
    &__wrapper {
        display: flex;
        
    }

    &__list {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max-content;
        grid-gap: 1rem;
        margin-left: 1rem;

        @media only screen and (max-width: 900px) {
            width: 100%;
            margin-left: 0;
        }

        @media only screen and (max-width: 640px) {
            grid-template-columns: 1fr 1fr;
        }
        @media only screen and (max-width: 450px) {
            grid-gap: .2rem;
        }
  
  
    }

    &__mobile-filter{
        display: none;
            @media only screen and (max-width: 900px) {
                display: inline-block;
                margin: 2rem 0;
                margin-right: auto;
                height: 3rem;
                width: 3rem;
                background: #fff;
                
                background: url('../assets/filter.png');
                background-size: contain; 
                border: 1px solid #ccc;
            }
        
    }

}
