.iconbox {
    &-icon {
        height: 2rem;
        width: 2rem;
        transition: all .3s;

        &:hover {
            & path {
                fill: $color-primary;
            }
        }
        &__incart{
            width: 8rem;
            height: 2rem;
            text-transform: uppercase;
            text-align: center;
            display: inline-block;
            color: $color-primary; 
            font-weight: 900;
        }
    }
}