.success{
    padding: 2rem 4rem;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: #fff;
    z-index: 100;
    h3{
        font-size: 2rem;
        color: #27ae60;
    }
}