.card-side {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .8s ease;
    backface-visibility: hidden;

    @media only screen and (max-width: 900px) {
        position: relative;
    }
}

.product {

    &-card {

        &:hover &-front {
            transform: rotateY(-180deg);

        }

        &:hover &-back {
            transform: rotateY(0);
        }

        position: relative;
        perspective: 150rem;
        -moz-perspective: 150rem;
        width: 100%;
        height: 36rem;
        text-align: center;

        @media only screen and (max-width: 1000px) {
            height: 30rem;
        }

        @media only screen and (max-width: 900px) {
            height: auto;
        }

        box-sizing: border-box;

        &-front {
            display: flex;
            background: #fff;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 4rem 2rem;
            &-imagewrapper{
                width: 70%;
                height: 70%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-image {
                
                height: 100%;
            }

            &-heading {
                font-size: 1.8rem;
                font-weight: 700;

            }

            &-price {
                color: $color-primary;
                font-size: 1.8rem;
                font-weight: 700;
            }

            @media only screen and (max-width: 1000px) {
                padding: 2rem;
            }

            @media only screen and (max-width: 900px) {
                display: none;
            }
        }

        &-back {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 3rem 5rem;
            transform: rotateY(180deg);
            background: #fff;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);

            @media only screen and (max-width: 1000px) {
                padding: 2rem;
            }

            @media only screen and (max-width: 900px) {
                transform: rotateY(0);
                padding: 3rem;

            }

            @media screen and(max-width: 450px) {
                padding: 1rem;
            }
            &-imagewrapper{
                width: 100%;
                height: 15rem;

                display: flex;
                justify-content: center;
                
                @media screen and(max-width: 450px) {
                    height: 10rem;
                }     
            }
            &-image {
                height: 100%;                       
                        
            }

            &-heading {
                color: $color-primary;
                font-size: 1.8rem;

            }

            &-size {
                font-size: 1.4rem;
                display: flex;
                width: 70%;
                justify-content: center;
                text-transform: lowercase;

                &-wrapper {
                    &:last-child>span {
                        display: none;
                    }

                    span {
                        margin: 0 .5rem;
                    }

                    &:first-child {
                        margin-left: 1rem;
                    }


                }
            }

            &-colorswrapper {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            &-color {
                height: 1rem;
                width: 1rem;
                border-radius: 50%;
                margin: 0 .3rem;
            }

            &-price {
                display: none;
                margin: 0 auto;
                margin-top: 1rem;
                color: $color-primary;
                font-weight: 700;
                font-size: 2rem;

                @media only screen and (max-width: 900px) {
                    display: block;
                }
            }

        }
    }

    &-iconbox{
        padding-top: 3rem;
        margin-top: 3rem;
        border-top: 1px solid #ccc;
        width: 100%;
        display: flex;
        justify-content: space-around;
    
        @media screen and(max-width: 450px) {
            display: none;
        }
    }

}

