.colors{
    &__wrapper{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    &__label{
        margin-right: 1rem;
    }
    &__list{
        display: flex;
        flex: 1 1 80%;
        align-items: center;
        
    }
    &__item{
       height: 3rem;
       width: 3rem; 
       &:not(:last-child){
           margin-right: 1rem;
       }
        background: #fff;
        cursor: pointer;
        border: 1px solid #ccc;
    }
}