.counter{
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;


    }
    &__button{
        width: 3.5rem;
        height: 3.5rem; 
        border: 1px solid #ccc;
        background: #fff; 
        cursor: pointer;
        &:hover{
            background: #f8f8f8;
        }
    }
    &__display{
        padding: 1rem; 
        color: $color-primary; 
        font-weight: 700; 
    }
}