.footer {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;

        @media only screen and (max-width: 900px) {
            &:nth-child(2) {
                order: 3;
                flex: 1 1 70%;
                text-align: center;

            }
        }
        @media only screen and (max-width: 450px) {
           grid-template-columns: 1fr 1fr; 
           

        }


    }

    &__item {

        &-link {
           
        }
    }

}