@import '../../abstracts/variables';

.payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__heading{
        font-size: 1.6rem; 
        color: $color-primary; 
        margin-bottom: 2rem;
    }
    @media only screen and (max-width: 450px) {
        align-items: center;       
     }
}