.wrapper {
    
    border: 1px solid #ccc; 
    background: $color-light
}
.container{
    max-width: 120rem;
    margin: 0 auto; 
    height: 100%;
    display: block;

    @media (max-width: 1240px){
        padding: 0 2rem;
        margin: 0;
    }
}

